@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NoteApp.UI.Extensions
@model NoteApp.UI.Pages.AllNotesModel
@{
ViewData["Title"] = "Все заметки";
}

<h2 class="mb-3">Все заметки</h2>

<form method="get" class="mb-4 d-flex" style="max-width: 400px;">
    <input type="text" name="SearchQuery" value="@Model.SearchQuery" class="form-control me-2" placeholder="Поиск по заголовку..." />
    <button type="submit" class="btn btn-outline-primary">Поиск</button>
</form>

@{
ViewData["FolderName"] = "";
ViewData["EmptyMessage"] = "Заметок не найдено.";
}

<partial name="_NotesList" model="Model.Notes" />

<div class="mb-3" style="margin-top:20px;">
    <a asp-page="/CreateNote" class="btn btn-outline-primary">Создать заметку</a>
    <a asp-page="/Index" class="btn btn-outline-secondary">На главную</a>
</div>
